---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="关于她乡｜WomenOverseas她乡">
  <Nav language="zh" />
  <main>
    <section class="about-us">
      <h1>关于她乡</h1>
      <p>
        WomenOverseas她乡是一个属于华人女性和非二元性别者的全球性社区，我们致力于提供一个自由表达、相互支持、共同成长的平台。
      </p>
      <p>
        自 2020.10.3
        成立以来，我们共同组织了三十多场丰富多彩的线上线下活动，包括分享会、交流活动，以及通过公众号、小红书和播客等平台分享了大量优质内容。从北美博士成功求职的经验，到把兴趣爱好转化为生活重心的人生故事，再到在<a
          href="https://mp.weixin.qq.com/s?__biz=MzAwMTMyNjA1Nw==&mid=2451852731&idx=1&sn=e949e4ec70cc1634896b4a34f5ced080&chksm=8d0b833dba7c0a2bc7f09211f9d753aef5f76d7c45f0481cf396b5eee5fd6ea6d59513127915&scene=21#wechat_redirect"
          target="_blank">异国他乡做职业篮球运动员的奇妙经历</a
        >，我们一直试图通过各种生活故事，呈现出更广阔的世界和更多样的人生选择。
      </p>
      <p>
        WomenOverseas她乡不仅是一个分享平台，也是一个女性交友社区，帮助很多女性在异国他乡找到知心好友，构建了情感支持体系。去年，我们还孵化了一个艺术家社区，鼓励和帮助有艺术爱好的女性将兴趣转化为商业机会。<a
          href="https://mp.weixin.qq.com/s?__biz=MzAwMTMyNjA1Nw==&mid=2451853283&idx=1&sn=f362ff601e6b530a4582b3396b8df2b4&chksm=8d0b8165ba7c0873575e64f4367641276e1918e1f4490fde78e355ec311e34810f9a3a6b03b4&scene=21#wechat_redirect"
          target="_blank"
          >我们甚至把一部分她乡艺术家的作品带到了旧金山本地最大的艺术集市展示出售</a
        >。
      </p>
      <p>
        <a href="https://forum.womenoverseas.com/" target="_blank"
          >点击注册WomenOverseas她乡论坛</a
        >
        <br />
        <a href="https://linktr.ee/womenoverseas" target="_blank"
          >也可以在其他社交平台上找到我们</a
        >
      </p>
      <p><strong>我们在她乡等你，探索广阔的世界，成为更好的自己。</strong></p>
    </section>
    <section class="contact-us">
      <h2>给她乡写信</h2>
      <p>如果你有任何建议、合作的想法，都欢迎和她乡取得联系。</p>
      <br />
      <form
        id="contact-form"
        method="POST"
        data-netlify="true"
        netlify-honeypot="bot-field"
        name="contact-form"
      >
        <input type="hidden" name="form-name" value="contact-form" />
        <div class="info-wrapper">
          <label>
            First Name
            <input type="text" name="firstname" />
          </label>
          <label>
            Last Name
            <input type="text" name="lastname" />
          </label>
          <label>
            Email *
            <input type="email" name="email" required />
          </label>
        </div>
        <div class="action-wrapper">
          <label>
            Message *
            <textarea name="message" cols="50" rows="10" required></textarea>
          </label>
          <button class="btn" type="submit">发送</button>
          <span id="formMessage"></span>
        </div>
      </form>
    </section>
  </main>
  <Footer language="zh" />
</Layout>

<style>
  main {
    padding: 120px 20px 60px;
  }
  main h1 {
    font-size: 48px;
    font-weight: 300;
    margin: 24px 0;
  }
  main h2 {
    font-size: 36px;
    font-weight: 100;
    margin: 10px 0;
  }
  .about-us {
    padding-bottom: 40px;
  }
  #contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
  }
  #contact-form input,
  #contact-form textarea {
    display: block;
    background-color: rgb(var(--bg-overlay));
    border: 1px solid rgb(var(--primary));
    border-radius: 4px;
    min-height: 32px;
    margin-top: 8px;
    padding: 4px 8px;
    width: 100%;
    font: inherit;
    color: inherit;
  }
  #contact-form input {
    max-width: 335px;
    min-width: 300px;
  }
  #contact-form textarea {
    max-width: 450px;
  }
  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .action-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
  }
  .action-wrapper label {
    width: 100%;
  }
  .action-wrapper #formMessage {
    margin-top: 10px;
  }
  #contact-form .btn {
    width: 120px;
    border: 1px solid rgb(var(--primary));
    background-color: rgb(var(--bg-overlay));
    color: inherit;
    border-radius: 8px;
    padding: 10px 24px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    transition-duration: 0.3s;
  }
  #contact-form .btn:hover {
    background-color: rgb(var(--primary));
    color: rgb(var(--bg-overlay));
  }
  @media (min-width: 576px) {
    main {
      padding: 120px 36px 60px;
    }
  }
  @media (min-width: 768px) {
    main {
      padding: 120px 48px 60px;
    }
    #contact-form {
      flex-direction: row;
      gap: 48px;
    }
    .action-wrapper {
      align-items: flex-end;
    }
  }
  @media (min-width: 992px) {
    main {
      padding: 120px 0 60px;
      width: 900px;
      margin: 0 auto;
    }
  }
</style>

<script>
  const form = document.getElementById("contact-form") as HTMLFormElement;
  // const formMessage = document.getElementById("formMessage");
  const handleFormSubmit = (event: any) => {
    event.preventDefault();

    const myForm = event.target;
    const formData = new FormData(myForm);

    fetch("/favicon.svg", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(formData as any).toString(),
    })
      .then(() => console.log("Form successfully submitted"))
      .catch((error) => alert(error));
  };

  form && form.addEventListener("submit", handleFormSubmit);
</script>
