---
import Layout from "../layouts/Layout.astro";
import LinkButton from "../components/LinkButton.astro";
import CarouselCards from "../components/CarouselCards.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="WomenOverseas她乡">
  <Nav language="zh" />
  <main>
    <header>
      <h1>欢迎来到她乡</h1>
      <p>WomenOverseas 她乡是为华人女性和非二元性别者打造的全球性社区</p>
      <p>提供自由表达、相互支持、共同成长的平台</p>
      <p>她乡论坛网址现更改为：</p>
      <p>
        <a href="https://forum.womenoverseas.com/" target="_blank"
          >forum.womenoverseas.com</a
        >
      </p>
      <LinkButton
        href="https://forum.womenoverseas.com/"
        label="进入她乡论坛"
      />
    </header>
    <section class="recent-events">
      <h2>近期活动</h2>
      <CarouselCards />
      <br />
    </section>
    <section class="about-wo">
      <h2>关于她乡</h2>
      <div class="content">
        <p>
          WomenOverseas她乡是一个属于华人女性和非二元性别者的全球性社区，我们致力于提供一个自由表达、相互支持、共同成长的平台。
        </p>
        <p>
          自 2020.10.3
          成立以来，我们共同组织了近三十场丰富多彩的线上线下活动，包括分享会、交流活动，以及通过公众号、小红书和播客等平台分享了大量优质内容。从北美博士成功求职的经验，到把兴趣爱好转化为生活重心的人生故事，再到在异国他乡做职业篮球运动员的奇妙经历，我们一直试图通过各种生活故事，呈现出更广阔的世界和更多样的人生选择。
        </p>
        <p>
          WomenOverseas她乡不仅是一个分享平台，也是一个女性交友社区，帮助很多女性在异国他乡找到知心好友，构建了情感支持体系。最近，我们还孵化了一个艺术家社区，鼓励和帮助有艺术爱好的女性将兴趣转化为商业机会。
        </p>
      </div>
      <LinkButton href="#about" label="更多详情" />
    </section>
  </main>
  <Footer language="zh" />
</Layout>

<style>
  main {
    text-align: center;
  }
  main h1 {
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 300;
    margin: 24px 0;
  }
  main h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 100;
  }
  header {
    width: 100%;
    padding: 120px 20px 60px;
  }
  .recent-events {
    background-color: white;
    padding: 20px 0;
  }
  .about-wo {
    padding: 20px;
  }
  .about-wo .content {
    margin: 0 auto;
    text-align: start;
  }
  @media (min-width: 576px) {
    .about-wo {
      padding: 36px;
    }
  }
  @media (min-width: 768px) {
    main h1 {
      font-size: 56px;
    }
    main h2 {
      font-size: 48px;
    }
    header {
      padding: 120px 20px 80px;
    }
    .about-wo .content {
      width: 629px;
    }
  }
  @media (min-width: 992px) {
    main h1 {
      font-size: 72px;
    }
  }
</style>
