---
interface Props {
  language: string;
}

const { language } = Astro.props;

import { Image } from "astro:assets";
import wo_logo from "./public/wo_logo.webp";
import LanguageSwitcher from "./LanguageSwitcher.astro";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const currentPath = Astro.url.pathname;
---

<nav id="nav">
  <div class="nav-bar">
    <div class="wo-logo">
      <a href={translatePath("/")}><Image src={wo_logo} alt="woman overseas logo" /></a>
    </div>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label
    >
    <ul class="menu">
      <li>
        <a href={translatePath("/")} class={currentPath === translatePath("/") ? 'active' : ''}>
          {t("nav.home")}
        </a>
      </li>
      <li>
        <a href={translatePath("/events/")} class={currentPath === translatePath("/events/") ? 'active' : ''}>
          {t("nav.events")}
        </a>
      </li>
      <li>
        <a href={translatePath("/q-a/")} class={currentPath === translatePath("/q-a/") ? 'active' : ''}>
          {t("nav.q-a")}
        </a>
      </li>
      <li>
        <a href={translatePath("/about/")} class={currentPath === translatePath("/about/") ? 'active' : ''}>
          {t("nav.about")}
        </a>
      </li>
      <li>
        <a href={translatePath("/support/")} class={currentPath === translatePath("/support/") ? 'active' : ''}>
          {t("nav.support")}
        </a>
      </li>
    </ul>
    <div class="end-menu">
      <div class="cta">
        <a href="https://forum.womenoverseas.com/" target="_blank"
          >{language === "zh" ? "进入论坛" : "Forum"}</a
        >
      </div>
      <LanguageSwitcher />
    </div>
  </div>
</nav>

<style>
  /* nav */
  #nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(var(--bg-overlay));
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  #nav.shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
  .nav-bar {
    position: relative;
  }
  .wo-logo {
    display: inline-block;
    position: absolute;
    left: 24px;
    top: 10px;
  }
  .wo-logo img {
    width: 104px;
    height: 40px;
  }

  .nav-bar ul {
    margin: 0;
    padding: 2px;
    list-style: none;
    overflow: hidden;
  }

  .nav-bar li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(var(--brand));
  }

  .nav-bar li a.active {
    color: rgb(var(--primary));
  }

  .nav-bar li a:hover,
  .nav-bar .menu-btn:hover {
    color: rgb(var(--primary));
    background-color: #f4f4f4;
  }

  /* menu */

  .nav-bar .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  /* menu icon */

  .nav-bar .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  .nav-bar .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 20px;
  }

  .nav-bar .menu-icon .navicon:before,
  .nav-bar .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .nav-bar .menu-icon .navicon:before {
    top: 5px;
  }

  .nav-bar .menu-icon .navicon:after {
    top: -5px;
  }

  /* menu btn */

  .nav-bar .menu-btn {
    display: none;
  }

  .nav-bar .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .nav-bar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .nav-bar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .nav-bar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .nav-bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .nav-bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  /* end-menu */
  .end-menu {
    position: absolute;
    top: 10px;
    right: 58px;
    display: flex;
    align-items: center;
    gap: 18px;
  }
  .cta {
    display: none;
  }
  .end-menu .cta a {
    display: inline-block;
    background-color: rgb(var(--brand));
    color: rgb(var(--bg-overlay));
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    font-size: 16px;
    cursor: pointer;
  }
  .end-menu .cta a:hover {
    background-color: rgb(var(--primary));
  }
  @media (min-width: 440px) {
    .cta {
      display: block;
    }
  }
  /* switch to web layout */
  @media (min-width: 768px) {
    #nav {
      box-shadow: unset;
    }
    .nav-bar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(var(--bg-overlay));
      height: 58px;
    }

    .nav-bar .menu {
      max-height: 58px;
      transition: unset;
      clear: unset;
      display: flex;
      gap: 18px;
      justify-content: space-between;
      list-style-type: none;
    }
    .nav-bar .menu li a {
      padding: 0;
      font-size: 18px;
    }
    .nav-bar .menu li a:hover {
      background-color: rgb(var(--bg-overlay));
    }
    .nav-bar .menu-icon {
      display: none;
    }
    .end-menu {
      right: 18px;
    }
  }
  /* increase space on larger screens */
  @media (min-width: 992px) {
    .nav-bar .menu {
      gap: 36px;
    }
    .wo-logo {
      left: 36px;
    }
    .end-menu {
      right: 36px;
    }
  }
</style>

<script>
  window.addEventListener("scroll", function () {
    const nav = document.getElementById("nav");
    if (nav) {
      window.scrollY > 0
        ? nav.classList.add("shadow")
        : nav.classList.remove("shadow");
    }
  });
</script>
