---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "STXihei";
    src: url("/fonts/STXihei.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  :root {
    --bg-overlay: 253, 251, 250;
    --brand: 215, 148, 125;
    --primary: 39, 96, 117;
    --accent: 200, 212, 217;
    --accent-light: 0, 0, 0;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3),
      rgb(var(--primary)) 120%
    );
  }
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  body {
    color: rgb(var(--primary));
    background-color: rgb(var(--bg-overlay));
    font-family: "STXihei", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
  }
  a {
    color: rgb(var(--primary));
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
</style>
